@charset "utf-8";
/* CSS Document */
[class*="col-"] {
	float:right;
	display:block;
	overflow: hidden;
	max-height:400px;
	width:100%;
	padding:20px;
	box-sizing:border-box;
}


.row::after {
	content:'';
	clear:both;
	display:table;
}

@media only screen and (min-width:600px) {
	
	.col-xs-1 { width:8.33%;
	}
	.col-xs-2 { width:16.66%;
	}
	.col-xs-3 { width:25%;
	}
	.col-xs-4 { width:33.33%;
	}
	.col-xs-5 { width:41.66%;
	}
	.col-xs-6 { width:50%;
	}
	.col-xs-7 { width:58.33%;
	}
	.col-xs-8 { width:66.66%;
	}
	.col-xs-9 { width:75%;
	}
	.col-xs-10 { width:83.33%;
	}
	.col-xs-11 { width:91.66%;
	}
	.col-xs-12 { width:100%;
	}
	
}


@media only screen and (min-width:768px)  {
	
	.col-sm-1 { width:8.33%;
	}
	.col-sm-2 { width:16.66%;
	}
	.col-sm-3 { width:25%;
	}
	.col-sm-4 { width:33.33%;
	}
	.col-sm-5 { width:41.66%;
	}
	.col-sm-6 { width:50%;
	}
	.col-sm-7 { width:58.33%;
	}
	.col-sm-8 { width:66.66%;
	}
	.col-sm-9 { width:75%;
	}
	.col-sm-10 { width:83.33%;
	}
	.col-sm-11 { width:91.66%;
	}
	.col-sm-12 { width:100%;
	}
	
}

@media only screen and (min-width:991px) {
	
	.col-md-1 { width:8.33%;
	}
	.col-md-2 { width:16.66%;
	}
	.col-md-3 { width:25%;
	}
	.col-md-4 { width:33.33%;
	}
	.col-md-5 { width:41.66%;
	}
	.col-md-6 { width:50%;
	}
	.col-md-7 { width:58.33%;
	}
	.col-md-8 { width:66.66%;
	}
	.col-md-9 { width:75%;
	}
	.col-md-10 { width:83.33%;
	}
	.col-md-11 { width:91.66%;
	}
	.col-md-12 { width:100%;
	}
	
}

@media only screen and (min-width:1199px) {
	
	.col-lg-1 { width:8.33%;
	}
	.col-lg-2 { width:16.66%;
	}
	.col-lg-3 { width:25%;
	}
	.col-lg-4 { width:33.33%;
	}
	.col-lg-5 { width:41.66%;
	}
	.col-lg-6 { width:50%;
	}
	.col-lg-7 { width:58.33%;
	}
	.col-lg-8 { width:66.66%;
	}
	.col-lg-9 { width:75%;
	}
	.col-lg-10 { width:83.33%;
	}
	.col-lg-11 { width:91.66%;
	}
	.col-lg-12 { width:100%;
	}
	
}

.about-text {
	position:absolute;
	max-height:50px;
	background-image:url(../images/tabs-bg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	bottom:0;
	width:100%;
}
.about-text h4 {
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	box-sizing:border-box;
	color:black;
}



.about {
	position:relative;
}





